# binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test

*.out

# go workspace file
go.work

# taskflow

# db files
*.db
*.db-shm
*.db-wal

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~


# OS files
.DS_Store
Thumbs.db

# temp files
tmp/
temp/